[2019-04-05 10:39] shochdoerfer opened #6 "Improve code generation for factories & proxies"
Check if we can use the phpstan caching layer to store the temp files instead of writing directly to temp dir. Ideally don't regenerate the files over and over again.

[2019-05-20 09:09] shochdoerfer opened #7 "Add support for automatic installation of PHPStan extensions via Composer plugin"
See [here](https://github.com/phpstan/extension-installer) for all required changes that need to be applied.

[2019-05-22 09:45] #7 closed

[2019-06-04 06:07] rikwillems opened #10 "Store interface gives errors"
I'm experiencing the error below when trying to make a commit. I'm using the setup with Grumphp.

```Fatal error: Class Magento\Store\Model\Store contains 2 abstract methods and must therefore be declared abstract or implement the remaining methods (Magento\Store\Api\Data\StoreInterface::setIsActive, Magento\Store\Api\Data\StoreInterface::getIsActive) in vendor/magento/module-store/Model/Store.php

[2019-06-04 06:43] shochdoerfer commented on #10
Good catch. I tested the extension (and the overrides) on 2.3 only. The getIsActive/setIsActive methods seem to be added in 2.3 and thus you get this error on 2.2.x.

Looks like we need different interfaces / classes per Magento version and need to somehow determine the Magento version during runtime.

[2019-06-04 06:44] shochdoerfer commented on #10
Thanks for giving the extension a try. If you have an idea how to properly solve the issue, feel free to provide a PR.

[2019-06-04 11:39] rikwillems commented on #10
Not sure if that information is available at the point where the replacement interface is implemented. Maybe configuration value or separate neos file per Magento version?

[2019-06-04 13:21] shochdoerfer commented on #10
We might could extract the mocks into separate composer packages and then load them via composer. That way we could use the standard composer constraints to manage when which package will be loaded. Not sure though if I really want to maintain a separate package just for that matter.

As an alternative we could try and read the composer.json of one of the magento modules and determine the Magento

[2019-06-04 14:27] rikwillems commented on #10
Here is how Magento extracts the version itself: ```vendor/magento/module-version/Controller/Index/Index.php```

[2019-07-05 11:23] nicojust opened #11 "Add support to generate proxies for interfaces"
The following message will be shown by phpstan while analyzing.

`Class Magento\Catalog\Api\ProductRepositoryInterface\Magento\Catalog\Api\ProductRepositoryInterface not found and could not be autoloaded.`

The file that was analyzed by phpstan had this a constructor.

[code]
This can be fixed by prefixing the extended Classname with a backslash.

`$template .= "class {PROXY_CLASSNAME} extends {CL

[2019-07-05 19:15] shochdoerfer commented on #11
Thank you for this bug report. Technically it should not be possible to proxy an interface, that is what classes implementing an interface are for. You cannot use an interface and extend from it, thus the error above is correct.

Does Magento really allow to create proxies for interfaces?

[2019-07-08 07:53] nicojust commented on #11
Yes it does. Below are the contents of the autogenerated file from magento.

`generated/code/Magento/Catalog/Api/ProductRepositoryInterface/Proxy.php`
[code]

[2019-07-11 07:38] shochdoerfer commented on #11
Thanks for pointing out. Will check how to fix this.

[2019-07-21 07:23] shochdoerfer commented on #10
For now I would love to stick to supporting only "latest" Magento versions to keep the maintenance effort to a minimum. The only viable solution for the problem seem to be to maintain multiple composer packages which is way too much work currently given this repo is more like a proof-of-concept idea to showcase what is possible with phpstan for Magento.

[2019-07-21 07:23] #10 closed

[2019-07-21 07:23] shochdoerfer commented on #10
@rikwillems if you would want to maintain a 2.2 compatible fork, I'd be fine with that.

[2019-07-21 20:24] shochdoerfer commented on #11
Still on this, got a wired side effect due some additional autoloading. Still need to figure out what the source of the problem is...

[2019-08-11 15:07] shochdoerfer commented on #11
@nicojust could you please give #13 a try. Seems to work in my test case, wondering if it would fix your problem as well.

[2019-08-14 10:11] nicojust commented on #11
@shochdoerfer
Thank you for your effort.

Unfortunately it still seems to be causing problems.
In one of my classes i'm injecting the ProductRepositoryInterface via Proxy like this.

<details><summary>ProductHelper</summary>
<p>

[code]
</p>
</details>

While analysing the following error messages pop up.

`PHP Warning:  Uncaught PHPStan\Broker\ClassAutoloadingException: Class Magento\Catalog\Api\

[2019-08-14 11:14] shochdoerfer commented on #11
Damn it, thanks for catching this. I only tested with primitives. Fix looks good, would have done the same. I'll borrow the code and then merge.

Thanks for your contribution!

[2019-08-14 11:21] #11 closed

[2019-11-14 09:58] kanduvisla opened #14 "autoloader does not seem to be picked up when using the phpstan shim"
I'm trying to run phpstan in an isolated Magento module codebase, so I'm running into the case where factories etc. are not found.

I noticed the fix for this in `registration.php` for exactly this:

[code]

However, it does not seem to work. The `registration.php` file gets loaded, but the namespace-bound `spl_autoload_register` is not executed.

I am using the phpstan shim in my case. Could that

[2019-11-14 10:06] shochdoerfer commented on #14
HI @kanduvisla I would think the problem could be using the shim version. The readme of the GitHub repo sates that they are using a "prefixed" version, so I think the namespaces might be different.

Mind checking with the non-shim version?

[2019-11-14 10:10] kanduvisla commented on #14
I'll check if I can get it to work with the non-shim version. In the meanwhile I did manage to find a fix for this issue when using the shim. I'm not sure if it's the best fix, but it might help others experiencing the same issue:

I've create a new file in the root of my module called `phpstan.php`:

[code]

And in my `phpstan.neon` I've added the following line:

[code]

[2019-11-14 10:16] kanduvisla commented on #14
I've tested with the non-shim version and I can confirm that works fine without the fix. So this is an issue caused by using the shim. I think this ticket can be closed now.

The only thing I can think of is to add an update to the README for known issues when using the shim (and perhaps suggest this fix?)

[2019-11-14 10:23] shochdoerfer commented on #14
Mind providing a fix for the readme then? ;)

[2019-11-14 10:53] #14 closed

[2019-12-22 14:08] hostep opened #16 "Allow package to be installed with phpstan 0.12.x"
Currently, the version constraint [`"phpstan/phpstan": "^0.11.6"`](https://github.com/bitExpert/phpstan-magento/blob/f7af124510d01cb7324026eb7f78633ed5790f8f/composer.json#L16) blocks me to upgrade phpstan to 0.12.3 in one of my projects.

Would it be possible to test this package with phpstan 0.12.x and if everything is working, declare it as compatible with 0.12.x?

Suggestion would be to change

[2019-12-22 14:47] hostep commented on #16
Hmm, it is probably not as easy as I would have guessed due to some [backwards incompatible changes which introduced in version 0.12.0 of phpstan](https://github.com/phpstan/phpstan/releases/tag/0.12.0), here are some errors I ran into while messing around a bit:

[code]

Good to know:
- phpstan is now being delivered as a .phar file since 0.12.0 (which makes it hard to find its source code in a l

[2019-12-22 15:58] shochdoerfer commented on #16
@hostep thanks for opening this issue. Sure we can upgrade the package to support the latest version of PHPStan. Would you be able to contribute a MR for this?

Looks like we better start versioning this package to support multiple versions for PHPStan...

[2019-12-26 16:14] hostep commented on #16
Hi @shochdoerfer

I could look into creating a MR, but might take me a while, bit busy with a lot of things at the moment.

It might be possible to introduce a fix in a backwards compatible fashion though, but further investigation is needed.

[2020-04-04 19:57] #16 closed

[2020-04-06 07:45] hostep commented on #16
Awesome, thanks a lot @shochdoerfer!

Looks like it works perfectly after quickly testing it out over here.

Great job!

[2020-04-08 22:09] DominicWatts opened #27 "Error in docker"
Running on project

[code]

Seeing above error

Only way around it was to make MagicMethodReflection abstract class

`abstract class MagicMethodReflection implements MethodReflection`

Not sure why hasn't caused others issue

[2020-04-09 06:39] shochdoerfer commented on #27
Looks like there's a mismatch between this dependency and PHPStan. Can you tell me which git commit you are using, the composer.lock file should tell you that. Also check which PHPStan version are you using in your project?

I recently update this library to use the latest version of PHPStan 0.12.18. Are you by accident using the phar version of PHPStan as a direct download?

[2020-04-09 08:27] DominicWatts commented on #27
Sure

composer.lock

[code]

`docker run --rm -v $PWD:/code domw/phpstan --version`

[code]

[2020-04-09 13:16] shochdoerfer commented on #27
The commit hash `20572c1` indicates that this is an older version not compatible with the latest PHPStan version. Run `composer update bitexpert/phpstan-magento` to fix the problem.

[2020-04-15 19:22] sprankhub opened #28 "Releases and Changelog"
Thanks for all your work on making this compatible with the latest version of PHPStan! Much appreciated!

Is there any reason why this package does not have proper versioning? It would be nice to have tagged versions and changelogs for them :)

[2020-04-15 19:55] shochdoerfer commented on #28
Of course, there are multiple reasons for that - but I am happy to change my mind :)
- first of all, I feel the package is still in early development and I didn't want to add the overhead of versioning to it too early
- Since I did not want to support too many Magento versions, I felt it is fine for now to only have master that works with the latest version and thus I thought versioning is not nee

[2020-04-15 19:56] shochdoerfer commented on #27
@DominicWatts were you able to fix your issues with upgrading the package?

[2020-04-15 20:11] sprankhub commented on #28
Thanks for your quick feedback!

If you feel that the package is not stable, you can simply use a `0.x` version. Although I use it for quite some time now and it works absolutely fine (maybe there are missing features, but I did not encounter any bugs - hence, I would consider it stable).

Fine if you only want to support the latest Magento version. However, then, versioning makes things easier fo

[2020-04-15 20:20] DominicWatts commented on #27
Yes thanks

[2020-04-15 20:20] #27 closed

[2020-04-16 07:50] shochdoerfer commented on #28
I know, it just felt too much work to do all that when I quickly hacked things together last year :P

If fully get your point and will try to prepare a first release soon.

Do you have any public magento module repo that is using this package? I would love to test the package against real-life projects during the build to see if things break or not. Or do you only on private repos?

[2020-04-16 12:06] #28 closed

[2020-04-16 18:53] sprankhub commented on #28
Hmm did you close this on purpose? There is no release yet, so maybe it is worth keeping it open?

[2020-04-17 06:54] shochdoerfer commented on #28
Working on it (want to add a few improvements first), stay tuned :) Closed the ticket as the decision was done to do so.

[2020-04-18 12:06] #6 closed

[2020-04-18 12:17] shochdoerfer commented on #28
Here you go: https://github.com/bitExpert/phpstan-magento/releases/tag/v0.1.0

[2020-04-19 20:35] hostep commented on #28
Thanks @shochdoerfer!

Maybe interesting to know, you can view in Github which other packages make use of this one, see: https://github.com/bitExpert/phpstan-magento/network/dependents

[2020-05-07 09:33] sprankhub opened #31 "PHPStan Does Not Find \Magento\TestFramework\Helper\Bootstrap"
### Preconditions
1. Magento 2.3.4
2. PHP 7.2
3. `bitexpert/phpstan-magento` 0.1.0

### Steps to reproduce
1. Create an example integration test in your module, e.g. `\Company\Module\Test\Integration\ExampleTest`:

        <?php

        declare(strict_types=1);

        namespace Company\Module\Test\Integration;

        use Magento\TestFramework\Helper\Bootstrap;
        use PHPUnit\Framework\Te

[2020-05-07 09:48] shochdoerfer commented on #31
Looks like the different testing extensions come with their own autoloading logic. We need to load/include them somehow in this extension. I will have a look at that. Thanks for bringing up this issue.

[2020-05-07 09:50] shochdoerfer commented on #31
See `dev/tests/integration/framework/autoload.php` or `dev/tests/api-functional/framework/autoload.php` for the implementation.

[2020-05-08 18:33] shochdoerfer commented on #31
@sprankhub could you please give #32 a try? Looks good to me but would love to hear your feedback before merging :)

[2020-05-11 20:09] sprankhub commented on #31
I can confirm that your PR fixes the issue. Thanks a lot, @shochdoerfer!

[2020-05-12 09:30] #31 closed

[2020-05-12 09:30] shochdoerfer commented on #31
Will create a new release soonish!

[2020-05-21 15:29] shochdoerfer opened #34 "Replace custom autoloaders with Magento's implementation"
To investigate: Could we use the `Magento\Framework\TestFramework\Unit\Autoloader` implementations to generate the code and autoload it instead of our own custom logic? Or maybe reimplement `Magento\Framework\Code\Generator\Autoloader` to get rid of the ObjectManager magic.

[2020-06-15 08:50] sprankhub opened #40 "Deprecated Config Option autoload_files"
When using  the current `dev-master` and using the recommended configuration from the `README.md`, there is a deprecation warning when running PHPStan:

    Note: Using configuration file /var/www/project/phpstan.neon.
    ⚠️  You're using a deprecated config option autoload_files. ⚠️️

    You might not need it anymore - try removing it from your
    configuration file and run PHPStan again.

[2020-06-15 09:21] shochdoerfer commented on #40
Thanks for letting us know. Seems like the `autoload_files` option got deprecated with PHPStan 0.12.26. Removing `autoload_files` won't work as the file contains the logic to register the custom autoloaders.

Could you try to rename `autoload_files` to `bootstrapFiles` and see if things are working again?

[2020-06-15 09:42] sprankhub commented on #40
This indeed seems to work :)

[2020-06-15 09:44] shochdoerfer commented on #40
Ok, that was easy then ;) Had the impression that both parameters worked differently when I read the docs back then. Good to know that it is just a "minor" change.

[2020-06-15 09:45] #40 closed

[2020-08-03 14:57] BorisovskiP opened #42 "Mismatch between requirements"
It is not possible to update to magento **2.4.0** community edition because your module requires **phpstan/phpstan:** **^0.12.24**, while magento requires **phpstan/phpstan:** **>=0.12.3 <=0.12.23** (https://packagist.org/packages/magento/community-edition).

[2020-08-03 19:04] shochdoerfer commented on #42
Oh my that sucks big time ;(

Could you try to remove `bitexpert/phpstan-magento` before upgrading to Magento 2.4 and installing it afterwards again? You still might need to upgrade the `phpstan/phpstan` version. Not sure if this breaks Magento's internal phpstan setup, but I guess if you are using this module you might not care :)

[2020-08-10 10:47] shochdoerfer commented on #42
@BorisovskiP were you able to get it running the way I described it?

[2020-08-10 13:08] BorisovskiP commented on #42
@shochdoerfer as we have other modules that are still not compatible with 2.4.0, we are waiting on them to update their dependencies so we can proceed with the update. I will notify you when we have done this.

[2020-08-18 19:50] makao commented on #34
For Magento projects you can use
[code]
[Reference - Magento](https://github.com/magento/magento2/blob/2.4-develop/dev/tests/static/framework/Magento/PhpStan/autoload.php)
[Reference - PHPStan](https://phpstan.org/user-guide/discovering-symbols#custom-autoloader)

For developing custom modules you need to create (copy) autoloader in your module to be able to run PHPStan without installing whole Ma

[2020-08-19 07:08] shochdoerfer commented on #34
Thanks for pointing out. That does make sense of course.

I am still undecided about how to drive this project forward as this project depends on a newer version of PHPStan compared to what Magento 2.4.0 depends on as outlined in #42.

[2020-08-19 20:04] makao commented on #34
I think you shouldn't care which PHPStan version Magento is using as probably you don't want to test vendor code with it. I've used your package for testing project code located in app/code, we had used higher level than Magento is using and we were even patching some Magento core code to fix incorrect annotations.

When you create Magento project you can simply update your dev dependencies. Also

[2020-09-03 11:15] BorisovskiP commented on #42
Removing and re-installing this module does not work as the requirements are still incompatible as stated in the initial description. We just updated the version constraint for `phpstan/phpstan`.

[2020-09-03 11:49] sprankhub commented on #42
So the big question still is how this issue should be handled by default. I tend to vote for "use the PHPStan version Magento uses". I strongly believe a Magento package should be installable on a clean Magento installation without any issues. Hence, the PHPStan versions must not conflict.
Additionally, we could add a note in the Wiki, which says that "you may want to update the version of PHPStan

[2020-09-03 11:56] shochdoerfer commented on #42
Yeah, it kind of sucks to downgrade phpstan again but I am fully with you @sprankhub. It needs to be easy to install the module in any Magento environment and it would suck big time if the phpstan rules shipped with Magento would not work anymore after the phpstan upgrade. So there's only one choice here, sadly.

I don't think we can support multiple phpstan versions, especially not "latest" as us

[2020-09-03 11:57] shochdoerfer commented on #42
@sprankhub feel free to prep a PR for this, I am way too busy these days to get this going ;(

[2020-10-16 07:12] shochdoerfer commented on #42
Fixed in master, will prepare a new release soonish.

[2020-10-20 22:28] hostep commented on #42
@BorisovskiP: can you answer these questions please?

1. Why do you need `bitexpert/phpstan-magento` as a direct dependency in a Magento project? What extra features does it provide beside the native implementation in Magento?
2. If you don't use it as a direct dependency in a Magento project, but as a dependency of a module, then I believe this is incorrect and it should be a dev-dependency, is t

[2020-10-21 06:50] shochdoerfer commented on #42
Following @hostep's remarks in #43 I think we have re-evaluate the approach taken and adapt.

The original goal was to allow people to easily upgrade their Magento 2.3 instance with the `bitexpert/phpstan-magento` dependency installed to 2.4.x - back then that was not possible to due the hard constraint that Magento has on the phpstan dependency. "Sadly" phpstan's different versions change quite r

[2020-10-21 07:39] hostep commented on #42
Are there valid cases of making `bitexpert/phpstan-magento` a dependency in the `composer.json` file of an entire Magento project?

If yes, then we should indeed make it possible to install it in Magento 2.4, and then I would suggest the constraint to be changed to at least allow it to be installed with `phpstan/phpstan` 0.12.23, so that will actually work.
But this then conflicts with the install

[2020-10-21 07:49] sprankhub commented on #42
Yes, there are definitely valid use cases for making `bitexpert/phpstan-magento` a dependency of an entire Magento project! Client-specific modules are usually developed either under `app/code` or under a local directory, which is then set up as a local Composer repository (our approach). We then check this whole directory with PHPStan. I think this should definitely be possible - and if I underst

[2020-10-21 10:43] hostep commented on #42
Ok, that makes sense @sprankhub !

I've opened a pull request on the M2 repo to allow >= 0.12.3 < 0.13.0 versions of phpstan to be installed: https://github.com/magento/magento2/pull/30581

Unfortunately for this repo, we will need to change the requirements to the closest possible to the actual minimum required version, which seems to be 0.12.26, while still allowing it to be installed on Magento

[2020-10-21 18:15] sprankhub commented on #42
Sounds reasonable to me, yes. Let us see what @shochdoerfer says :) Thanks @hostep!

[2020-10-22 11:02] shochdoerfer commented on #42
Sorry, got hit hard by a migraine yesterday, not sure if this happened because of this issue or not :P

A bit busy today, will try to reply to you later...

[2020-10-24 16:48] shochdoerfer commented on #42
Was hoping to get this sorted before my MageCONF 2020 presentation today but life got in my way.

Sadly we can't aim at `^0.12.23` if I am not mistaken, since the `bootstrapFiles` option that we currently rely on was introduced with `0.12.26`. Not sure if I really would want to revert this behaviour since a few things have changed quite a bit in phpstan.

So I would aim at `^0.12.26` and add a rem

[2020-10-24 18:56] sprankhub commented on #42
AFAIK, the new `bootstrapFiles` parameter works pretty much the same as the old `autoload_files` parameter. And AFAIK, we currently only rely on this parameter in the README. Hence, the nicest approach IMHO would still be to use a `^0.12.23` dependency, revert to `autoload_files` in the README and add a note directly below that the parameter should be updated to `bootstrapFiles` if newer versions

[2020-10-25 02:37] shochdoerfer commented on #42
Right, I forgot about the `autoload_files` settings, I thought we had moved to the `bootstrapFiles` setting right from the default Composer autoloader configuration we had in place.

Then I think it boils down to 2 options:
1. Add a constraint like `>=0.12.23 <=0.12.25` and add the `autoload_files` hint to the docs. Since `autoload_files` got deprecated in `0.12.26` users will get a notice while r

[2020-10-25 10:02] hostep commented on #42
I've just tried upgrading from version 0.3.0 to 0.4.0 of `bitexpert/phpstan-magento` and downgrading from 0.12.50 to 0.12.23 of `phpstan/phpstan` on my own project (not inside a Magento project) and the only thing that needed to be done to get it working again is to change `bootstrapFiles` to `autoload_files` in the `phpstan.neon` file configuration.
So this means the functionality of `bitexpert/p

[2020-10-25 20:58] shochdoerfer commented on #42
Ok, so that's 1,75 votes for option 2, what about you @sprankhub?

[2020-10-25 21:25] sprankhub commented on #42
TBH, I think you ignore my proposal ;-)

I do not see any disadvantage of this. Only advantages:

* No upper version constraint means people can use higher versions of PHPStan.
* Installable by default in Magento 2.4.
* If people read the README correctly and use the right parameter `autoload_files` / `bootstrapFiles` depending on the version of PHPStan they use, no deprecation warning.

Tell me i

[2020-10-26 11:59] shochdoerfer commented on #42
@sprankhub then let's go with the "nicest approach" that I may or may not have ignored :)

Any takers for the PR?

Are you all cool with releasing this as a patch release?

[2020-10-26 20:13] hostep commented on #42
PR created: https://github.com/bitExpert/phpstan-magento/pull/44

I'm fine with a patch release!

[2020-10-27 15:27] #42 closed

[2020-10-27 15:32] shochdoerfer commented on #42
Patch relase 0.4.1 published. Thanks a lot!

[2020-10-28 09:35] oneserv-heuser opened #45 "Feature request: Add objectManager type hints for Unit tests"
Hi!
You already have the nice feature with the [ObjectManager type hints](https://github.com/bitExpert/phpstan-magento#objectmanager-type-hints).
But magento also provides another [ObjectManager for unit tests](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/test/test_object-mgr.html). The problem is that  the class [ObjectManagerDynamicReturnTypeExtension](https://github.com/bitExpert

[2020-10-28 10:52] shochdoerfer commented on #45
@sprankhub did you also run into this?

Of course we have to fix this ;) Need to check how. Thanks for opening your first issue @oneserv-heuser here!

[2020-10-30 20:00] sprankhub commented on #45
I did not encounter this, because we usually do not write unit tests :-)

[2020-11-10 16:13] shochdoerfer commented on #45
@oneserv-heuser quick update on this issue: Still working on it, having some issues with the type system of PHPStan.

[2020-11-27 16:50] xi-ao opened #46 "Error in Proxy generator?"
Hi,

I stumbled on a similar error message as reported in #11 and I had to make the following fix to prevent an invalid error from being reported.

[code]

Without the patch:

[code]

The patch:

[code]

Do you think it's really a fix or it could lead to some unexpected behavior in some cases?

[2020-11-27 19:15] shochdoerfer commented on #46
Thank you @xi-ao for opening your first issue! Good catch, looks like I missed this part back when I refactored this. Mind submitting a PR for this?

[2020-11-27 20:39] xi-ao commented on #46
Sure! I'll do this asap. :+1:

[2020-11-28 13:45] shochdoerfer commented on #45
Hey @oneserv-heuser I uploaded a first test version in #47. Mind checking this against your repo(s)? My very limited test looked good, would be lovely to get some real world feedback before merging :)

[2020-11-30 07:50] oneserv-heuser commented on #45
@shochdoerfer Tested and it works like a charm! Thanks a lot!

[2020-11-30 07:55] shochdoerfer commented on #45
I'll add a bit more error checks soonish (e.g. make sure that you can only pass `\Magento\Framework\Data\Collection` instances to the getCollectionMock() method and then merge & release.

[2020-12-01 06:41] xi-ao commented on #46
PR #48 :heavy_check_mark:

[2020-12-04 22:01] #46 closed

[2020-12-19 13:48] shochdoerfer opened #49 "Feature Request: GitHub Action for bitexpert/phpstan-magento"
Build a GitHub Action to let phpstan-magento run in GitHub build pipelines automatically. Check what the extdn people have done for their actions and adapt https://github.com/extdn/github-actions-m2

[2020-12-21 12:24] oneserv-heuser commented on #45
@shochdoerfer How does it look? I am waiting impatiently for the release 😄

[2020-12-21 14:18] shochdoerfer commented on #45
@oneserv-heuser sorry for letting you down, the last weeks have once again been too busy to get this going. My plan is to release a new version this week. It may not include the extended error checks for now, that depends a bit on how much I can find to work on this.

[2020-12-30 14:27] shochdoerfer commented on #45
@oneserv-heuser quick update: Still on it, sorry. I ran into a bunch of problems that I need to solve first before I can merge the changes.

[2021-01-06 09:15] shochdoerfer commented on #45
@oneserv-heuser just pushed the latest changes to the PR. Mind testing the branch against your codebase? Had to make a few minor adjustments and added a rule to deject wrong classes passed to the getCollectionMock() method. Seems to work in my simplified test environment. Would now need some real-world insights :)

[2021-01-06 10:39] oneserv-heuser commented on #45
@shochdoerfer I just can repeat myself, works like a charm 👍🏻
But now it also makes 2 @phpstan-ignore-next-line redundant in tests, so it's even better

[2021-01-06 15:46] shochdoerfer commented on #45
Here we go: https://github.com/bitExpert/phpstan-magento/releases/tag/v0.5.0

[2021-01-06 15:46] #45 closed

[2021-01-06 20:35] shochdoerfer commented on #34
I just realized that we actually can't rely on Magento's autoloader for module projects because the autoloader is not shipped in one of Magento's Composer dependencies. Guess we'll have to keep our own solution for now.

[2021-01-06 20:35] #34 closed

[2021-01-14 12:17] paulvandermeijs opened #51 "Set magic method for DataObject requires argument `$key` of type `array|string`"
Example:

[code]

Generates:

[code]

I believe this is cause by this definition:

https://github.com/bitExpert/phpstan-magento/blob/22b23622313605ee95d15d8ac01f698290ece9a0/src/bitExpert/PHPStan/Magento/Reflection/AbstractMagicMethodReflectionExtension.php#L96-L115

Which I believe should be just a single parameter with a mixed type; this seems to describe the signature of `DataObject::setData()`

[2021-01-14 12:37] shochdoerfer commented on #51
Thanks for using this PHPStan extension and thanks for your first bug report. I will have a look. Indeed it looks like the definition is messed up, need to check why.

[2021-01-18 11:49] #51 closed

[2021-01-22 19:09] shochdoerfer commented on #51
@paulvandermeijs here we go https://github.com/bitExpert/phpstan-magento/releases/tag/v0.6.0

[2021-02-08 10:07] shochdoerfer commented on #49
@torhoehn did you hack on that during the Firegento Hackathon?

[2021-02-08 10:10] torhoehn commented on #49
@shochdoerfer No, I was a little bit late, so @frostblogNet proposed this topic. As I have arrived @schmengler looked for a partner, so we worked together on something else.

[2021-02-08 10:21] shochdoerfer commented on #49
No worries, just saw on Twitter that this topic was proposed. Wanted to avoid that we both work on this and no one is aware ;)

[2021-03-13 17:29] shochdoerfer opened #81 "Feature Request: Add rule for "resource models should be used directly""
Add a PHPStan rule to detect calls for getResource() in Model classes. Calling getResource() is marked as deprecated since it's not considered a good practice any more, see [this thread](https://magento.stackexchange.com/questions/318074/load-resource-models-without-using-deprecated-getresource) on StackOverflow.

In the Magento source code, you'll find a few deprecated notices like "@deprecated 1

[2021-03-13 17:33] shochdoerfer opened #82 "Feature Request: Do not use setTemplate in Block classes"
The Magento [ExtDN](https://github.com/extdn) people have a Codesniffer sniff in place to detect calls to the `setTemplate()` method in a block class. Read about their reasoning [here](https://github.com/extdn/extdn-phpcs/blob/master/Extdn/Sniffs/Blocks/SetTemplateInBlockSniff.md). It probably makes sense to port this rule also to this project.

[2021-06-14 07:11] shochdoerfer opened #112 "Feature Request: Make the extension aware of Magento's extension attributes"
Come up with a plan to make the PHPStan extension aware of defined [extension attributes](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/attributes.html#extension).

[2021-06-14 07:14] shochdoerfer opened #113 "Turn magento/framework into dev dependency"
If you want to install PHPStan and this module outside of a Magento project, it is kind of pointless to install the magento/framework dependency. Check how other PHPStan extensions deal with this and adapt.

[2021-06-19 14:37] #113 closed

[2021-07-16 18:29] mattwellss commented on #112
Hey there! Love the extension. I took a stab at handling extension attribute interface autoloading

https://gist.github.com/mattwellss/5b133af5cf69793d0953d5fa0087e6ea

My approach is not merge-ready, though...

1. When the `DirectoryList` is initialized, I'm providing `'.'` as the path, which is only correct when running phpstan from the project root.
2. It only handles `ThingExtensionInterface`.

[2021-07-17 07:56] shochdoerfer commented on #112
Awesome! Thanks for the kind word and thanks for starting to work on this.

Your approach is a bit different from what I had in mind but contains a few interesting bits that we may be able to re-use.

I think we need to have a bit more flexibility where the xml files are located since we have users that use our module for developing "just" a single module but also for developing a complete Magento

[2021-07-19 14:12] mattwellss commented on #112
Great point! It's important to stay in the right mindset when I'm working on something that will be used in very different ways.

That said, I believe the existing logic does find every extension attribute relatively efficiently. With the most recent changes, the Finder looks for `extension_attributes.xml` files in each enabled/registered module's `etc` directory. This approach eliminates recursiv

[2021-08-04 18:20] shochdoerfer commented on #112
My bad for not responding earlier. Had to focus on some other things and then lost track of this issue.

Basically, we have to cover 4 use-cases:
 - module development
   - having PHPStan & our extension installed in the root composer.json of the module
   - having PHPStan & our extension installed elsewhere
 - Magento application development
    - having PHPStan & our extension installed in the r

[2021-08-06 12:53] mattwellss commented on #112
Excellent! I'm really busy for the next month or so, but I'll have time to focus on this once that's over with.

When I come back I'll follow whatever strategy (autoloading or reflection) is in use for factories/proxies, if that's OK.

[2021-09-17 08:47] ScottA38 opened #142 "Support for earlier PHP versions"
I recently discovered your module, however I am unable to install due to this error:
![image](https://user-images.githubusercontent.com/32736033/133752835-ccfdefcf-cc0a-452a-b06d-db8aad13a1f0.png)

### Steps

1. Run `composer require --dev bitexpert/phpstan-magento`

## System
- Ubuntu 20.04
- PHP v7.1.33

### Expected Result
1. phpstan-magento installed successfully
2. Entry for phpstan-magento a

[2021-09-17 09:28] shochdoerfer commented on #142
Thanks for opening the issue. Since PHP 7.1 is not actively supported anymore, I don't feel it make sense to use PHP 7.1 as a minimum requirement. Since this might also influence the package versions we can install as dependencies of `bitexpert/phpstan-magento` I would like to avoid the move, I'd rather also deprecate PHP 7.2 & PHP 7.3 in the near future. That depends a bit which minimum Magento v

[2021-09-20 20:26] mattwellss commented on #112
OK, after a long delay I got back into this on Friday. My current challenge is ensuring phpstan can find the appropriate extension attribute interface.

Here's a summary of my explorations:

First I tried building a `phpstan.broker.dynamicMethodReturnTypeExtension` which "generates" an empty interface with eval. Subsequent calls to extension attributes interface instances are handled by a `phpstan

[2021-09-20 21:01] shochdoerfer commented on #112
The `phpstan.broker.dynamicMethodReturnTypeExtension` feels right to me, similar to what we have done for the [ObjectManagerDynamicReturnTypeExtension.](https://github.com/bitExpert/phpstan-magento/blob/master/src/bitExpert/PHPStan/Magento/Type/ObjectManagerDynamicReturnTypeExtension.php):
 - in the getClass() method you return the the `ExtensibleDataInterface` interface name (not sure if that wor

[2021-09-21 13:59] mattwellss commented on #112
That's similar to my second implementation (though I built a class), and the issue of the actual interface being nonexistent remains, as far as I know. When I use my own non-interface-generating solution, I get this from PHPStan:
[code]

I know it's not necessary to use a PHPDoc when the function itself properly documents its own return type, but it seems like something we ought to support. (And a

[2021-09-21 15:08] mattwellss commented on #112
Definitely. It's past time I integrated my WIP changes into a fork anyway. Stand by while I get something ready 😄

[2021-09-21 17:43] shochdoerfer commented on #142
By the way, the error message is generated by Composer, not by this package. I don't think there is a way to change that. We can however add the minimum PHP version to the README.md file if that helps.

[2021-09-21 17:44] shochdoerfer commented on #112
No worries, take the time you need. I am quite busy the next few weeks but I'll try my very best to support you so that we can get feature in soon. I know a few people eagerly waiting for this (no pressure!) :)

[2021-09-24 22:33] ScottA38 commented on #142
Hey, thanks for the helpful reply

Magento version 2.3.1

Can you explain a little further please about the separate folder? What kind of configuration is needed to link phpstan-magento to my actual M2 project

I think I would gain benefit from this 🙏

Also understandable about not supporting PHP versions that are past EOL
As a professional developer I should probably know these things already 😨 😇

[2021-11-01 07:58] shochdoerfer opened #152 "Upgrade to PHPStan 1.0"
PHPStan 1.0 got released today: https://phpstan.org/blog/phpstan-1-0-released

Check how "compatible" it is with the 0.x version we use and decide if it is worth upgrading. The downside of upgrading would be that the extension will be incompatible with the current Composer requirements in Magento 2.4 ` "phpstan/phpstan": "^0.12.77"`.

[2021-11-01 08:01] shochdoerfer commented on #152
@sprankhub @hostep what are your thoughts on the PHPStan upgrade to version 1.0?

[2021-11-01 08:09] shochdoerfer commented on #152
The 0.12.x versions won't get any more updates https://twitter.com/OndrejMirtes/status/1455083738564542467

[2021-11-01 19:41] sprankhub commented on #152
If 0.x does not get any more updates, I think we should update to 1.0.

[2021-11-04 21:18] hostep commented on #152
@shochdoerfer: I just tested the new major phpstan version out by hacking my composer dependencies like so:
[code]

This allowed me to install phpstan version 1.0.2 in combination with 0.9.0 of this module.

And executing phpstan works perfectly fine, so it looks like your module works without issues on version 1 of phpstan (not sure if my code covers all your features, so don't take this as your

[2021-11-05 07:30] shochdoerfer commented on #152
@hostep thanks for your analysis. Very much appreciated. Good to know that things seem to work in both versions.

I feel there might be an issue with some dependencies as can be seen [here](https://github.com/bitExpert/phpstan-magento/runs/4101111627?check_suite_focus=true). I recall having read something similar somewhere in the PHPStan release notes or a tweet by Ondřej. I will investigate if th

[2021-11-05 07:30] shochdoerfer commented on #112
@mattwellss how are you progressing on this? Any help needed?

[2021-11-10 07:02] hostep commented on #152
FYI: phpstan 1.x is also coming to Magento: https://github.com/magento/magento2/pull/34555 😉

[2021-11-10 07:28] shochdoerfer commented on #152
@hostep stop doing MY job :P Had this on my todo list as well...

[2021-11-11 00:40] mattwellss commented on #112
Sorry that I haven't followed up. Ran out of my "20%" time at work, but that's starting again soon. I've integrated the autoloader version (which generates a file in PHPStan's tmp directory) into our codebase already, and it's working great. At the very least I'll make sure to get those changes pushed to our fork (https://github.com/lacrossefootwear/phpstan-magento).

I still plan to switch away f

[2021-11-11 07:30] shochdoerfer commented on #112
Good to hear & good to know that things are working fine in your fork. I might start experimenting with my approach in the next few weeks, will let you know here about the results maybe we both can drive this forward.

[2021-11-13 13:47] #152 closed

[2021-11-13 13:52] shochdoerfer commented on #152
Quick update: Have to create a separate release for PHPStan 1.1 as a few internal changes broke the tests. That means we have a release 0.10 of the extension which supports PHPStan 0.12 and a release 0.11 of the extension to support PHPStan 1.1.

[2021-11-13 14:21] shochdoerfer commented on #142
My bad, I somehow lost track of this issue.

Assuming you have installed your Magento project in `/some/dir/magento` you could install PHPStan and this extension in `/some/dir`. Make sure to use the `--ignore-platform-reqs` to ignore the minimum PHP version that is required by this extension. Once both Composer dependencies have been installed, create a `phpstan.neon` configuration file in `/some/

[2021-11-26 14:55] sprankhub commented on #112
I was about to create an issue and found this existing one :) We stumbled upon this while using:

* `Magento\InventoryApi\Api\Data\SourceInterface::getExtensionAttributes`
* `Magento\InventoryApi\Api\Data\SourceExtension` / `Magento\InventoryApi\Api\Data\SourceExtensionInterface`
* `Magento\InventoryApi\Api\Data\SourceExtensionInterfaceFactory`

Pretty sure your implementation will handle this, bu

[2021-11-26 17:04] mattwellss commented on #112
@sprankhub I've gotten a lot from that page in the past, thanks for linking to it!

I'm back on this as of a couple days ago! Working on the "dynamic method return type extension" version. With `checkNullables` and `checkUnionTypes` turned on in the phpstan configuration file, code like this triggers warnings:
[code]

In this case, `ship_dates` is a custom extension attribute in our shop. The phps

[2021-11-26 20:16] shochdoerfer commented on #112
@mattwellss thanks for picking things up again! I was not aware of the class generation in the background, I somehow had "just" the XML config in mind. So yes, if Magento generates classes, we need to generate them also and use a custom autoloader to load them so that PHPStan is properly aware of them.

[2021-11-26 20:18] shochdoerfer commented on #112
@sprankhub thanks for sharing the link, that makes things a lot clearer to me. Looks like after all those years I still underestimate the Magento magic happening in the background :P

[2021-11-26 20:27] mattwellss commented on #112
Cool, in that case I can clean up my extension attributes autoloading code that's already in use. Unless something goes awry at work I should be able to open a PR next week!

[2021-11-26 22:12] mattwellss commented on #112
Here's a start! A lot of clean up is warranted (I had to prevent verification steps on both commit and push 🙊)

https://github.com/bitExpert/phpstan-magento/compare/master...lacrossefootwear:feature/extension-attributes-autoloading?expand=1

[2021-11-29 15:20] mattwellss opened #161 "tmpDir should be relative to PHPStan configuration file path"
According to PHPStan's documentation, the `tmpDir` parameter is calculated relative to the configuration file path: https://phpstan.org/config-reference#caching.

It's not 100% clear to me whether the parameter can be specified as an absolute path in addition to a relative path. Regardless, the current process for determining tmpDir uses the current working directory (https://github.com/bitExpert/

[2021-11-29 18:52] shochdoerfer commented on #161
Thanks for spotting this. I don't remember why it was implemented that way. I feel I copied the logic from the PHPStan repo. But that's just a pure guess. Happy to change the logic to comply with PHPStan.

Did you encounter a specific bug with this?

[2021-11-29 19:17] mattwellss commented on #161
In order to make "flushing" PHPStan's cache easier (now that it includes extension attributes interfaces, which change and require regeneration), I configured the cache to be local to the project. I'd noticed that the files generated by the phpstan-magento autoloader weren't showing up in that tmpDir, even though other PHPStan cache files were.

[2021-11-29 21:01] shochdoerfer commented on #161
Mind sending a PR? :)

[2021-12-02 19:41] esteban-serfe opened #165 "Issue when installing latest version"
When trying to install version 0.11.0 found issues with already existing installation requirements from Magento packages ( Magento OpenSource 2.4.3 )

[code]
Installing version 0.10.* works.

[2021-12-02 20:34] shochdoerfer commented on #165
Thanks for opening your first issue.

This is a known issue and it's stated in the README file that the extension requires PHPStan 1.1. If you are using a Magento version that requires an older version of PHPStan, you need to manually upgrade before installing this extension.

Magento pinned PHPstan to a 0.12 version and PHPStan recently released version 1.0. Since there will be no support for old

[2021-12-02 20:35] shochdoerfer commented on #165
Also thanks for giving this extension a try. Would love to hear your feedback!

[2021-12-03 11:59] esteban-serfe commented on #165
Hi @shochdoerfer:
Thanks for the feedback. Might be needed to add explanation on the readme for this last change for those who are not familliar with the version mambo is going on with Magento and PHPStan.

I'm starting to review this tool to add to our interanl process and pipelines, so will let you know if there is something we can improve or discuss once we start giving it a spin on all our pro

[2021-12-03 13:43] shochdoerfer commented on #165
I would have thought Composer automatically picks the previous version as it would have matched your constraint. I thought the issue only pops up when upgrading an existing Magento project.

[2021-12-03 13:43] #165 closed

[2021-12-03 13:43] #142 closed

[2021-12-05 13:35] trunglv opened #166 "Installation Guide -- Should be .... :)"
Thank you for your great work here!
But I think, need to add more information in an installation guide.
For me: I have to install phpstan/extension-installer
Then have to change phpstan.neon:

parameters:
	bootstrapFiles:
		- vendor/bitexpert/phpstan-magento/autoload.php
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/bitexpert/phpstan-magento/extension.neon

It works for me.

[2021-12-05 13:53] shochdoerfer commented on #166
Thank you for opening this issue. Happy to extend the install section of the README.md file to make things a bit clearer.

When you install `phpstan/extension-installer` you should not need the includes directive as the extension-installer should figure out what the needed includes are. Could you check that, please?

Compared to what we have in the README.md file, I can't really spot a difference

[2021-12-08 15:45] trunglv commented on #166
Hi Stefan,
*** "phpstan/extension-installer" automatically load a .neon file, if a composer.json of package has: ***
- "type": "phpstan-extension"
- "extra": {
    "phpstan": {
      "includes": [
        "extension.neon"
      ]
    }
  }.
*** Your extension has some works in a autoload file, so we need to define in PHPStan environment configure file.***
[code]
If you would add extension.neon som

[2021-12-08 15:54] trunglv commented on #166
Sorry, for the confusing thing I wrote.

[2021-12-10 12:20] shochdoerfer commented on #166
I will have look and see how to optimize the README.md file a bit. If you have any suggestions, let me know.

[2021-12-10 12:38] shochdoerfer opened #167 "Feature Request: Add tips for rule errors"
Similar to what happens in PHPStan core, add tips to the rule errors we output to provide some more background information on why the rule was triggered and how to fix it. For the depreciation rules, we could additionally link to the Magento Devdocs.

See RuleErrorBuilder::tip().

[2021-12-14 20:42] #161 closed

[2021-12-22 10:43] #112 closed

[2021-12-22 10:45] shochdoerfer commented on #112
@sprankhub if you people want to give this a try, install the dev-master version or wait until the release is done.

[2021-12-23 10:10] #166 closed

[2021-12-23 17:01] mattwellss opened #174 "Improve extension attribute handling for standalone modules"
As discussed in #162, I've tested extension attributes in a standalone module: https://github.com/lacrossefootwear/magento2-force-login/pull/1

The issue with standalone modules is here: https://github.com/bitExpert/phpstan-magento/blob/d4305053d8fb713de87bbd207c6bcb8264c272f7/src/bitExpert/PHPStan/Magento/Autoload/ExtensionInterfaceAutoloader.php#L177-L183

I did this to limit the list of extensi

[2021-12-23 17:41] shochdoerfer commented on #174
Makes sense and I am still surprised that my tests with the `magento/module-inventory-api` did seem to work fine. I manually disabled the extension interface autoloader and all the extension attribute errors popped up. After enabling the autoloader, the errors are gone. Not exactly sure what I did wrong, will try to replicate your tests.

How to solve this? I basically see 3 options:
 - come up wi

[2021-12-23 20:42] shochdoerfer opened #176 "Simplify autoloader registration"
Instead of forcing the user to manually include the `vendor/bitexpert/phpstan-magento/autoload.php` file, this can be done in the `extension.neon` configuration automatically as can be seen in the PHPStan extension for Drupal: https://github.com/mglaman/phpstan-drupal/blob/main/extension.neon#L3

Since PHPStan is using `require_once` to load those files, we do not need to care that the file might

[2021-12-24 14:08] shochdoerfer commented on #174
I found out why my tests have been misleading: The `magento/module-inventory-api` uses the extension attribute interface but it does not define extension attributes via an `extension_attributes.xml` file.

I tested it with a different Magento module and can confirm your findings.

I am thinking to fix this with the 2nd solution proposed: By default, the PHPStan extension will scan for all `extensi

[2021-12-24 15:18] mattwellss commented on #174
I believe we can use the [`magentoRoot`](https://github.com/bitExpert/phpstan-magento/blob/9c97509376006ab0a2b152cc6ee4f325ebc26225/extension.neon#L5) parameter. Standalone modules do not employ this concept (no Magento application!), so we can make that parameter nullable and set the default to `null`.

If we use magento root, here's how the constructor would change:
[code]

and then when finding

[2021-12-27 14:56] mattwellss commented on #174
Regardless of the method we choose to switch between standalone and application module discovery, what should the default be (`null` Magento root or cwd)?

[2022-01-04 05:53] shochdoerfer opened #182 "Extend docs to cover Composer's 2.2 allow-plugins configuration"
Since in the docs the installation of `phpstan/extension-installer` is mentioned, we should cover the additional steps needed for Composer 2.2.0 which changes how Composer plugins are registered. See here for details: https://getcomposer.org/doc/06-config.md#allow-plugins

[2022-01-05 12:19] shochdoerfer opened #184 "Check .neon config files in CI"
Extend the CI pipeline to check for
 - Existing Classes in .neon config files: https://tomasvotruba.com/blog/5-commands-from-easy-ci-that-makes-your-ci-stronger/#2-Checks-NEON-YAML-Configs-for-Existing-Classes
 - Check .neon config files for Complex Syntax: https://tomasvotruba.com/blog/5-commands-from-easy-ci-that-makes-your-ci-stronger/#3-Check-NEON-for-Complex-Syntax

[2022-01-05 17:16] sta1r commented on #112
Hi guys - thanks for adding this feature.

We've been running 0.11.0 in a CI pipeline, and had seen previously added some errors relating to extension attributes to a baseline file.

For example, analysing this class: https://github.com/dotmailer/dotmailer-magento2-extension/blob/master/Ui/DataProvider/WebBehaviourTracking.php (level 2) we had:
[code]

Now, using 0.13.0, we get:
[code]

Weirdly, a

[2022-01-05 17:50] shochdoerfer commented on #112
@sta1r are you testing a stand-alone Magento module or a Magento application? I assume you try to test a stand-alone module. In that case, the current behavior is "ok" as the new extension attribute handling that was added in 0.13.0 only works for Magento applications. There's an additional PR open #174 which will fix this. Feel free to test #174, would love to get your feedback if it works for yo

[2022-01-07 07:25] sta1r commented on #112
I'm testing a stand-alone module, so that now makes sense - thanks. I've cleared the result cache locally (CI is a fresh env each run) but the CI errors are still not reported. I've reverted to 0.11.0 in CI for now, and will re-check when 174 is released. I can't really test it I guess because I can't make the failures happen locally.

[2022-01-08 18:02] #174 closed

[2022-01-08 18:48] shochdoerfer commented on #112
@sta1r we have just released 0.14.0 (compatible with PHPStan 1.2) and 0.15.0 (compatible with PHPStan 1.3). Both versions include the adaptions to make the extension attributes feature work for standalone Magento modules. If you run into problems, open a new issue.

[2022-01-08 21:19] shochdoerfer commented on #184
Not able to install the latest working version `symplify/easy-ci` due to dependency constraints.

[2022-01-08 21:19] #184 closed

[2022-01-08 21:19] shochdoerfer commented on #176
Fixed with #188

[2022-01-08 21:19] #176 closed

[2022-01-11 09:44] sta1r commented on #112
Just to add, relating to my comment above - I no longer get e.g.
[code]

but I do still get:
[code]

It appears from the comments posted earlier in this thread that this potentially ought to be resolved, but not sure.

Again this is when testing [this class](https://github.com/dotmailer/dotmailer-magento2-extension/blob/master/Ui/DataProvider/WebBehaviourTracking.php) using:
[code]

[2022-01-11 10:52] shochdoerfer commented on #112
@sta1r the error shows up because the `Magento\Catalog\Api\Data\ProductRenderExtension` class does not exist. I could not find it in the Magento_Catalog module, so I guess the docblock comment is just wrong and would need to be fixed. Can you confirm that or am I missing something?

[2022-01-11 11:03] sta1r commented on #112
`Magento\Catalog\Api\Data\ProductRenderExtension` is generated by the autoloader. It's as per the answer at https://magento.stackexchange.com/a/93384/142:

I just figured that potentially that was something @mattwellss had addressed.

[2022-01-11 12:24] shochdoerfer commented on #112
@sta1r my bad, thanks for pointing out. Looks like generating the classes for the "Extension" suffix is the missing link then. That does currently not work.

[2022-01-11 12:26] shochdoerfer opened #189 "Add autoloader and code generator to mimic ExtensionAttributesGenerator"
See the discussion here: https://github.com/bitExpert/phpstan-magento/issues/112#issuecomment-1009851754

Currently, only the extension attribute interfaces are generated but not the extension attribute classes.

[2022-01-15 16:04] #189 closed

[2022-01-15 16:12] shochdoerfer commented on #189
@sta1r check the latest release 0.16.0 for a fix for this.

[2022-01-16 14:34] hostep opened #193 "Add support for laminas/laminas-code 4.5 (which is a dependency of Magento 2.4.4)"
Hi!

Thanks again for this module!

I was trying to prepare a module of mine to test it with Magento 2.4.4 (of which I have bèta access), but due to dependency constraint conflicts this currently does not work.

- `bitexpert/phpstan-magento` version 0.17.0 [relies on](https://github.com/bitExpert/phpstan-magento/blob/v0.17.0/composer.json#L24): `"laminas/laminas-code": "~3.3.0 || ~3.4.1 || ~3.5.1"

[2022-01-16 18:23] shochdoerfer commented on #193
You are welcome. Yes, once Magento 2.4.4 is released, those constraint needs to be added. Hopefully, we won't run into issues, but that needs to be tested. Since I don't have beta access, I can test this once 2.4.4 is GA. I could imaging being some issues due to PHP 8.1 support. The worst case would be to rip out `laminas/laminas-code`.

I don't yet want to add the dependencies as I am not sure wh

[2022-01-17 07:50] hostep commented on #193
Thanks @shochdoerfer, I was able to get everything running before your last comment and forgot to report back.
So: phpstan (and this extension) ran fine without any problems at first sight, no weird errors or new problems found. I did indeed solve the problem temporarily with this constraint `"laminas/laminas-code": "4.5.1 as 3.5.1"`

So it sounds promising in that the upgrade of `laminas/laminas-

[2022-01-17 08:40] shochdoerfer commented on #193
Does your new project make use of extension attributes? I am asking because `laminas/laminas-code` is currently only used in the generators for the extension attribute classes and interfaces.

[2022-01-17 12:58] hostep commented on #193
Ah, good to know. Unfortunately no extension attributes are being used.
So okay, this will need some proper testing indeed after Magento 2.4.4 gets released 🙂

[2022-01-17 20:08] sta1r commented on #189
@shochdoerfer Great stuff, the errors in that class I referenced have now been resolved. Thanks for chasing it down!

[2022-03-16 12:19] torhoehn commented on #49
@shochdoerfer Is this solved, because the repo already runs GitHub Actions or do you thinking about extending this?

[2022-03-16 12:39] shochdoerfer commented on #49
Not yet solved. The goal was to have GitHub Action with PHPStan and this extension so that others could run it easily in their GitHub CI pipeline. Similar to what the extdn are doing: https://github.com/extdn/github-actions-m2/tree/master/magento-phpstan

[2022-03-16 12:42] torhoehn commented on #49
Ah now I remember. While writing my previous comment I wasn't in the correct context.

[2022-03-16 19:52] torhoehn commented on #182
Should be solved now @shochdoerfer :)

[2022-03-16 20:03] #182 closed

[2022-03-17 16:44] shochdoerfer commented on #49
No worries, that happens ;) Still, if you feel, you wanna tackle it, let me know.

[2022-03-24 14:50] TimJnr opened #222 "Add method description check"
Hello.
I like your job and thank you.
Just a question, can I extend it adding extra rules? I want to check that method had some description. If yes, where I can do it, which classes can edit?

For example
    /**
     * Get products views from report_viewed_product_index table
     *
     * @param null $beginDate
     * @return array
     */
It is ok

    /**
     * @param null $beginDate
     * @

[2022-03-24 16:58] shochdoerfer commented on #222
Thank you for opening your first issue!

While I understand your need for such a rule, I feel the rule is a bit too generic for the very specific Magento use-case that this PHPStan extension covers. I am not sure if all of our users would agree with this rule and like it. From that point-of-view, I feel this is not the right place for this functionality.

However, that should not stop you from add

[2022-03-25 16:04] #222 closed

[2022-03-25 17:56] esteban-serfe opened #224 "missing check when using factory, di inyection and preference"
My current module has a preference over a class set on the di.xml file.

I'm using the factory on the constructor of a overwrite.

When using a method that only exists on the overwrited class that is created through the Factory, PHPStan reports the method as not existent.

di.xml
[code]

Class with factory on constructor:
[code]

Class B:
[code]

This is reported as:
`Call to an undefined method M

[2022-03-25 19:29] shochdoerfer commented on #224
Thanks a lot for raising this issue. This is indeed currently a problem as the di.xml files do not yet get parsed. I will need to check with the PHPStan maintainer what options we have to implement this.

In your example, you could redeclare `$pageConfigRenderer` in `ClassA` and add the correct @var annotation. That should do the trick, I would think.

[2022-03-25 19:54] esteban-serfe commented on #224
The possible solution will not work  on this specific case as the parameter used is passed into the parent constructor. It might help in other situations.

[2022-03-30 10:38] hostep commented on #193
Friendly reminder now that Magento 2.4.4 has been released in pre-release (should you have access to that program) 🙂

[2022-04-07 06:34] shochdoerfer commented on #193
@hostep I have some bad news for you, I will be on holiday for the next 2 weeks ;( Can you prepare a PR for this? Merging and releasing should be possible for me though.

Making sure CI runs with PHP 7.4 & PHP 8 might get ugly due to the committed composer.lock file, I have solved it for some other tooling like this: https://github.com/hivecommerce/magerun2-list-api-endpoints/blob/main/.github/wor

[2022-04-07 09:58] hostep commented on #193
No worries, I wouldn't consider this bad news, a holiday is always good in my opinion 😄
Let's see where the PR of Brent gets us (once 2.4.4 is released publicly) 🙂

[2022-04-07 11:19] shochdoerfer commented on #193
True, I just realized how eagerly you are waiting for the next release :)

[2022-04-22 17:24] shochdoerfer commented on #193
Fixed!

[2022-04-22 17:31] #193 closed

[2022-04-22 17:56] shochdoerfer commented on #193
Version v0.20.0 of `bitexpert/phpstan-magento` just got released!

[2022-04-27 09:02] BorisovskiP opened #240 "Cannot update to version 0.20.0 on Magento 2.4.4"
Since Magento 2.4.4 has a version constraint on `phpstan/phpstan: ~1.2.0` its not possible to update `bitexpert/phpstan-magento` to version `0.20.0`.

Is it recommended to update the core Magento dependency to `~1.5.7` in order to use the new version of  `bitexpert/phpstan-magento` ?

[2022-04-27 09:13] shochdoerfer commented on #240
Yes, you have to manually update the PHPStan to the matching version, see https://github.com/bitExpert/phpstan-magento#requirements

I tried to get the PHPStan dependency of Magento core updated to 1.5 before the 2.4.4 release, but sadly the merge was not done on time. So the same procedure with a manual update as before needs to be applied. That should change with the next Magento core release, a

[2022-04-27 09:35] BorisovskiP commented on #240
Thanks for the explanation.

[2022-04-27 09:35] #240 closed

[2022-04-27 18:35] shochdoerfer commented on #240
@BorisovskiP just published version 0.21.0 of the extension which is compatible with PHPStan 1.6. Just in case you want to upgrade to the latest goodness ;)

[2022-05-03 12:51] shochdoerfer commented on #49
It could be that it is possible to use the phpstan GitHub Action provided by the extdn people: https://github.com/extdn/github-actions-m2/tree/master/magento-phpstan

Check and document!

[2022-05-24 06:34] shochdoerfer opened #244 "Integration tests needed for CI pipeline"
The problem in #243 shows that we need integration tests to detect real-world problems with newer PHPStan releases. Since we have some dependencies deeper in PHPStan's core, things can break.

Ideally, we'd have a demo Magento module that covers all the different features the extension offers. This would also simplify my testing as currently, I am running the dev versions against multiple modules.

[2022-05-24 11:21] sta1r opened #245 "Compatibility with phpstan 1.7+"
I'm running v0.21.0 with phpstan/phpstan 1.7.1. For:
[code]
I see persistent errors relating to cache folder creation. Example:

[code]

[2022-05-24 11:25] shochdoerfer commented on #245
Thanks for opening the issue. For now, you need to downgrade to PHPStan 1.6, please.

There's an issue with our custom autoloaders (for the Magento generated classes) and PHPStan 1.7. See in #243 and the related issue I have opened in the phpstan repo.

Will try to debug and fix it in the next few days.

[2022-05-26 07:53] shochdoerfer commented on #245
We've just released version 0.22.0 which will not allow being installed together with PHPStan 1.7, you have to use PHPStan 1.6 for now.

We tried everything possible to make the extension compatible with PHPStan 1.7 but we could not find a way to do it. We have to wait for PHPStan core to offer different extension points as the whole autoloader logic we are using to generate the missing Magento fi

[2022-05-27 09:04] shochdoerfer commented on #245
Fixed with #243 and PHPStan 1.7.2.

We've just published a new release 0.23.0 with the new PHPStan requirement.

[2022-05-27 09:04] #245 closed

[2022-06-14 13:10] torhoehn opened #248 "extension_attribute type not handled correctly"
I passed an array of SalesChannelInterfaces to the setSalesChannelInterface function:
`        $stockExtensionAttribute->setSalesChannels([$salesChannelInterface]);`

So I receive the following error from `phpstan`:
[code]

The `extension_attribute` is defined here:
[code]

And the interface `\Magento\InventoryApi\Api\Data\StockExtensionInterface` looks like this:
[code]

So maybe `phpstan` handle

[2022-06-14 13:20] shochdoerfer commented on #248
Thanks for reporting this. Will need to check. I assume that the array type in the xml file is not properly interpreted.

[2022-06-14 13:23] torhoehn commented on #248
No problem, I just ignored that line. :)

[2022-06-14 17:13] shochdoerfer commented on #248
@torhoehn looks like my assumption is correct https://github.com/bitExpert/phpstan-magento/blob/91032ba3777bf22df981c959d70f0fdbc391e515/src/bitExpert/PHPStan/Magento/Autoload/DataProvider/ExtensionAttributeDataProvider.php#L113

Not sure why this was done, need to investigate.

[2022-06-14 17:24] torhoehn commented on #248
@shochdoerfer btw it's not mentioned here that an array is possible as type: https://developer.adobe.com/commerce/php/development/components/attributes/#declare-extension-attributes

Don't know if this information is useful...

[2022-06-14 18:06] shochdoerfer commented on #248
@torhoehn even though the array type is undocumented, it is working for you, I guess? :)

[2022-06-14 21:40] torhoehn commented on #248
@shochdoerfer That's true. It's possible to pass an array.

[2022-06-27 20:39] JosephLeedy opened #249 "Factory Generator Overrides Concrete Factory"
## Description

The factory generation logic does not check if the factory actually exists as a concrete class before generating it, which causes the concrete factory to be overridden by the generated factory. This results in PHPStan marking the code as having an error stating that the wrong parameters are being passed.

## Expected Result
- No error is shown for code that instantiates factory cla

[2022-06-28 07:15] shochdoerfer commented on #249
@JosephLeedy good catch, thanks for reporting this issue.

[2022-06-28 15:29] JosephLeedy commented on #249
You're welcome. I hope it's easy to quickly resolve. 🤞🏽

[2022-07-01 09:17] 0m3r opened #251 "Missing check when using factory constant"
Typical missing check

[code]
Looks like all your code thinks that Factory is already generated class but it's not.
In these cases, Factory classes already exist and have other implementations

[2022-07-07 16:45] shochdoerfer commented on #248
I haven't ignored the issue, I just need some more time to catch up with work and all other things. Give me some more time to properly fix this.

[2022-07-08 06:55] torhoehn commented on #248
@shochdoerfer No worries :)

[2022-07-08 11:00] #251 closed

[2022-07-12 18:45] JosephLeedy commented on #249
I guess my reply e-mail from the other day didn't make it here. This is what it said:

[2022-07-12 19:10] hostep commented on #249
Hmm, also running into this exact issue over here, with a Factory class that actually exists and doesn't need to be generated:

[code]

Strange thing is that this only started happening after upgrading phpstan itself from 1.7.4 to any version higher (starts happening with phpstan 1.7.5 and still happens in the very latest version 1.8.1). So probably one of the autoloader changes in the [1.7.5 rele

[2022-07-13 08:48] 0m3r commented on #249
I can't confirm it. In my case phpstan --version return 1.7.15
![Знімок екрану з 2022-07-13 11-43-21](https://user-images.githubusercontent.com/412612/178691434-04a83216-5966-430d-8c99-f7f3747e8f3f.png)

[2022-07-14 19:21] JosephLeedy commented on #249
I have confirmed that the issue does not occur with PHPStan 1.7.4.

[2022-07-14 19:29] JosephLeedy commented on #249
It should be noted that I was previously running version 1.7.15, which is the latest 1.7.x release. Thanks!

[2022-07-17 14:19] szepeviktor opened #254 "No coverage data is *not* sent to Coveralls"
last submission was in April

[2022-07-17 17:15] szepeviktor opened #257 "Certain CI steps run several times without additional result"
[code]

I think these should be ran only once

- Check license
- Run Codesniffer
- Lint Neon files

On what PHP version? With what Magento version?

From #256

[2022-07-17 19:59] szepeviktor opened #258 "Move stubs out of src/"
While browsing this project I've found that stubs live in the same directory as source files.
https://github.com/bitExpert/phpstan-magento/tree/master/src/Magento

Would you welcome a PR that moves stub to `stubs/`?

[2022-07-17 20:02] szepeviktor commented on #258
I see you call stubs "mock".

[2022-07-17 20:08] szepeviktor commented on #258
I think
[code]
could be used instead of a custom solution.

https://github.com/bitExpert/phpstan-magento/blob/91032ba3777bf22df981c959d70f0fdbc391e515/src/bitExpert/PHPStan/Magento/Autoload/MockAutoloader.php#L15-L38

[2022-07-18 06:39] shochdoerfer commented on #258
Thanks for opening an issue first to discuss things.

First of all, yes what is called mocks are actually stubs. The reasoning behind this is that I did not want to confuse people (well, mainly me) with the stubs from PHPStan as they behave fundamentally differently and I could not come up with a better name.

It does not make sense to rely on PHPStan's stubs because doing that would mean we have

[2022-07-18 06:39] #258 closed

[2022-07-18 06:40] shochdoerfer commented on #257
Irrelevant issue as we won't change the current CI logic as stated [here](https://github.com/bitExpert/phpstan-magento/pull/256#issuecomment-1186817284).

[2022-07-18 06:40] #257 closed

[2022-07-18 07:16] szepeviktor commented on #258
YES!!

[2022-07-18 07:19] szepeviktor commented on #258
@shochdoerfer Would you like me to create and maintain a package - e.g `php-stubs/magento-stub` - and include your mocks?

[2022-07-18 07:45] shochdoerfer commented on #258
I don't see a benefit in that.

[2022-07-18 11:12] pvpcookie opened #259 "DateTimeFactory Issue;"
Hi Bit Expert team,

I believe there is an issue with PHP Stan regarding `DateTimeFactory`.

We believe the analyzer thinks the `DateTimeFactory`  is a generated one, and therefore should accept a single array arg, when in fact `Magento\Framework\Intl\DateTimeFactory` is an actual class shipped with the Magento framework.

Am i correct in this assumption or is there another solution opposed to ign

[2022-07-18 11:45] shochdoerfer commented on #259
Thanks for opening your first ticket in this repo. This is a duplicate #249, I think.

I assume you are using a PHPStan version > 1.7.4. If so, downgrade to 1.7.4 that should fix it for now. At least that is the gist of the ticket I mentioned above. I still need to prepare a demo to let Ondrej from PHPStan have a look.

[2022-07-18 12:17] pvpcookie commented on #259
Hi, sorry i should've mentioned the version i'm using, we using `phpstan/phpstan 1.7.2`

[2022-07-19 08:05] pvpcookie commented on #259
Using phpstan 1.7.4 worked. Thanks for your assistance

[2022-07-19 08:05] #259 closed

[2022-07-19 08:33] shochdoerfer commented on #259
Awesome! Good to hear. Hopefully, we can get the PHPStan 1.8 upgrade done soonish and fix the issue in general.

[2022-07-20 14:05] evs-xsarus opened #260 "Use Magento root for TestFrameworkAutoloader"
I have all QA packages in a separate folder installed using composer. This to avoid version problems with the many Magento packages.

To run, for instance PHP Stan, I do:

[code]

This works fine, but I saw that the autoloader [TestFrameworkAutoloader](https://github.com/bitExpert/phpstan-magento/blob/master/src/bitExpert/PHPStan/Magento/Autoload/TestFrameworkAutoloader.php#L24) reads the vendor m

[2022-07-20 15:00] shochdoerfer commented on #260
Thanks for opening your first issue. Fancy opening your first PR to fix this? ;)

Technically we don't support this setup anymore, in fact, what should not work when you do it like this is the extension attribute support. Since we rely on the Composer autoloader to check if a class or an interface exists, this will not work if you separate the phpstan/phpstan-magento installation from the Magento

[2022-07-21 05:50] evs-xsarus commented on #260
@shochdoerfer if you could point to me the logic to check extension attributes, I'll have a look.

[2022-07-21 05:55] evs-xsarus commented on #260
PS My .phpstan.neon is setup like:

[code]

Looking at this, I believe I'm ignoring the extension attributes anyway.

[2022-07-21 06:37] shochdoerfer commented on #260
@evs-xsarus correct, you are ignoring the errors anyways.

[2022-07-25 18:54] shochdoerfer commented on #249
@JosephLeedy @hostep @0m3r @pvpcookie I just merged a PR that raises the minimum phpstan dependency to 1.8.2.

Could you please run a quick test if that solves your issues? You have to change the Composer version of this module to `dev-master` to install the latest version.

[2022-07-26 08:17] pvpcookie commented on #249
Hi @shochdoerfer ,

just gave the update a test run:

[code]
The update did not resolve the issue i mentioned in https://github.com/bitExpert/phpstan-magento/issues/259

[2022-07-26 13:21] MagePsycho opened #262 "Project config file at path app/code/Vendor/Module does not exist."
I have installed the `phpstan-magento` on
[code]

After running the `phpstan` command to analyze the code
[code]
is giving error

[2022-07-26 14:54] BrentRobert commented on #262
@MagePsycho do you have a module called 'Vendor_Module'? The directory you're pointing it to probably does not exist, it needs to be pointed to a valid module.

[2022-07-26 17:13] shochdoerfer commented on #262
@MagePsycho maybe you can find some guidance in this repo https://github.com/hivecommerce/magerun2-list-api-endpoints

[2022-07-28 12:53] hostep commented on #249
Haven't tested it with phpstan 1.8.2, but I did test it with 1.8.1 [previously](https://github.com/bitExpert/phpstan-magento/issues/249#issuecomment-1182311946) and it didn't solve things. From the phpstan release notes I don't see any changes in the autoloaders, so I wouldn't expect that 1.8.2 fixes anything.

[2022-07-28 13:24] shochdoerfer commented on #249
Thanks for testing. Will prepare a demo for Ondrej so that he can try to debug the issue once he's back from his holiday :)

[2022-07-28 17:56] mattwellss opened #263 "Factory generation misnames output class"
When working with a class that have "Factory" in its classname, such as `Company\Module\Model\FactoryThing`, the PHPStan-generated output class for its factory (`Company\Module\Model\FactoryThingFactory` is `Company\Module\Model\Thing`.

It's caused by a simple error in factory generation
https://github.com/bitExpert/phpstan-magento/blob/8e55592f511bce6eb8234dd38ecc451bb49bbe35/src/bitExpert/PHPSt

[2022-07-29 06:55] shochdoerfer commented on #263
Good catch, the other autoloaders might also be affected. Mind providing a PR to fix it?

[2022-07-29 21:12] JosephLeedy commented on #249
I've confirmed that the `dev-master` version of this extension, combined with PHPStan 1.8.2, does not solve the issue.

[2022-07-30 16:50] shochdoerfer commented on #249
I prepared a demo and opened an issue in the PHPStan repo: https://github.com/phpstan/phpstan/issues/7723

[2022-08-01 14:53] mattwellss commented on #263
@shochdoerfer It doesn't look to me like any other autoloaders are similarly affected. Regardless, I've got a fix ready for Factory autoloading, which resolves this issue.

[2022-08-03 07:15] shochdoerfer commented on #263
Thanks! Will have a look later and merge. Very much appreciated.

[2022-08-05 08:34] BorisovskiP opened #265 "Current release version not updated"
In https://github.com/bitExpert/phpstan-magento/commit/d3dbb8dbc43b8a7a38c49e18ffe161f469e2a0c3, the requirements for phpstan were updated to `"phpstan/phpstan": "~1.8.2"`, however, in the package version, the old requirements are still present.

A fix would be to release a new version so that the requirements are updated.

[2022-08-05 08:51] shochdoerfer commented on #265
See my comment here, currently on purpose https://github.com/bitExpert/phpstan-magento/pull/261#issuecomment-1204888959

You can use the dev-master version if you really want PHPStan 1.8 support. I would love to let Ondrej fix the issue first before creating a new version compatible with 1.8. Otherwise, I will get even more issues with complaints (I think).

[2022-08-05 08:51] #265 closed

[2022-08-05 09:05] BorisovskiP commented on #265
Thanks for the quick reply and explanation.

[2022-08-05 13:33] shochdoerfer commented on #265
Sorry for this ;( Would have loved to solve the issue earlier but too many things came at once. I am confident that once Ondrej is back from his holiday, we can merge & release this soonish.

[2022-08-06 06:46] #263 closed

[2022-08-06 06:50] shochdoerfer commented on #262
IIRC correctly our conversation on LinkedIn the problem is solved. If you run into further issues, feel free to open another issue. Thanks for giving this extension a try! Hopefully, you'll find it useful.

[2022-08-06 06:50] #262 closed

[2022-08-06 07:55] #248 closed

[2022-08-06 08:07] shochdoerfer commented on #248
@torhoehn fixed with the latest 0.23.1 release (I think). Mind giving it a try? Worked for my isolated test case but maybe I missed something else.

[2022-08-06 08:07] shochdoerfer commented on #263
Fixed with the latest 0.23.1 bugfix release. Thanks for helping out!

[2022-08-06 08:34] shochdoerfer commented on #260
@evs-xsarus I prepared a PR, mind giving it a try? https://github.com/bitExpert/phpstan-magento/pull/267

[2022-08-08 08:24] torhoehn commented on #248
@shochdoerfer Seems to be work fine now. Thank you!

[2022-08-09 06:48] shochdoerfer commented on #249
Quick update for you people: Ondrej confirmed a change in regards to the autoloaders to fix a use case of another extension that breaks ours. Our extension needs to check if local classes exist and load them instead of generating the custom implementation.

That might be a bit tricky, I need to figure out how to do that. Maybe this can be solved by relying on Composers autoloading implementation.

[2022-08-10 20:29] JosephLeedy commented on #249
Thanks for the update, Stephan.

[2022-08-10 20:37] shochdoerfer commented on #249
I hope to get this fixed this weekend. I have some ideas already that could actually work.

[2022-08-11 14:11] evs-xsarus commented on #260
Looking at the code, I believe it should work. My debugger doesn't stop in the TestFramewordAutoloader with PHPStan 1.8.x. Probably due to https://github.com/bitExpert/phpstan-magento/issues/249 .

[2022-08-12 16:03] shochdoerfer commented on #249
Spoiler: The release is close! It looks like my fix works fine. Just need to run a few more tests.

[2022-08-13 07:31] #249 closed

[2022-08-13 07:41] #260 closed

[2022-08-13 08:08] #254 closed

[2022-08-13 08:25] shochdoerfer commented on #260
dev-master version seems to work for me. Will release a new version soon, if you run into problems open a new issue.

[2022-08-13 08:44] shochdoerfer commented on #265
Here you go: https://github.com/bitExpert/phpstan-magento/releases/tag/v0.24.0

[2022-08-13 08:45] shochdoerfer commented on #260
Here you go: https://github.com/bitExpert/phpstan-magento/releases/tag/v0.24.0

[2022-08-13 08:46] shochdoerfer commented on #249
Here you go, people. Thanks for your patience ;) https://github.com/bitExpert/phpstan-magento/releases/tag/v0.24.0

[2022-08-13 08:46] shochdoerfer commented on #259
@pvpcookie you can give the latest version 0.24.0 a try, it is compatible now with PHPStan 1.8 https://github.com/bitExpert/phpstan-magento/releases/tag/v0.24.0

[2022-08-14 18:42] hostep commented on #249
Thanks @shochdoerfer, I can confirm 0.24.0 fixes the issue! 🙂

[2022-08-15 09:39] BorisovskiP commented on #265
Thank you.

[2022-08-15 13:21] JosephLeedy commented on #249
Thanks, @shochdoerfer!

[2022-08-16 14:18] renttek opened #270 "Wrong directory used as "magentoRoot" when current working direcory is not magento root"
Currently the parameter "magento.magentoRoot" is resolved using the variable `%currentWorkingDirectory%`, which is not necessarily the magento root directory.
(In my case, phpstan is executed by GrumPHP, which runs in completely different directory)

This results in a broken autoloading of classes in some edge cases (e.g. the recently fixed #249):

See `bitExpert\PHPStan\Magento\Autoload\DataProvi

[2022-08-24 17:58] shochdoerfer commented on #270
Sorry, I missed this issue somehow.

What you experience is what I would call "expected behavior". By default we assume you are installing and invoking phpstan from the magento root directory (the directory that contains the composer.json file). If this is not the case, you need to set the `magentoRoot` parameter as you described it.

I guess this needs to be clarified in the documentation. Or is

[2022-08-25 12:11] renttek commented on #270
No Problem! :slightly_smiling_face:

If the assumption is that the invocation is always in the magento root, than that is okay and makes sense.
A variable which contains the directory of the used configuration file would be nice, but that is a issue/PR for phpstan itself.

Thanks for the clarification :+1:

[2022-08-25 12:11] #270 closed

[2022-09-01 12:28] hugofintecture opened #271 "private string $magentoRoot; not work in PHP 7.2"
Hello!

I've this error on CI:

[code]

 Typed properties have been introduced in PHP 7.4 I think but this package is marked as compatible from PHP 7.2.

Thanks in advance :)

[2022-09-01 16:51] shochdoerfer commented on #271
Good catch! Somehow I had in mind that Magento 2.3.0 would only support 7.4, but it does support 7.2 (and heck even 7.1).

[2022-09-02 05:43] oneserv-heuser opened #272 "Generated class ProductExtension is passed on incorrectly to phpstan"
Hi there!
Just updated from v0.23.1 (and phpstan 1.7) to v0.24.0 (and phpstan 1.8). Since the update I'm getting the following error when running phpstan:
[code]

Those are two generated classes from Magento:
**ProductExtensionInterface**
[code]
**ProductExtension**
[code]

As we can see both classes are generated correctly. In the error message it says that `Magento\Catalog\Api\Data\ProductExtens

[2022-09-02 07:41] shochdoerfer commented on #272
Looks like #266 is the source of the issue. In wonder why it seemed to work in my simple test case. Maybe I messed something up.

The error appears because the classes generated by this extension take precedence over Magento's generated classes.

Which version of Magento are you using?

[2022-09-02 07:43] oneserv-heuser commented on #272
I'm using Magento 2.4.5.

[2022-09-02 07:55] shochdoerfer commented on #272
Ok, good to know. Then I would assume the format of the generated classes changed slightly. That would be a total bummer and a bit tricky to fix.

[2022-09-02 07:57] oneserv-heuser commented on #272
Magento 2.4.4 is working fine v0.24.0 of this repository. The issue only occurs with Magento 2.4.5 and v0.24.0.

[2022-09-02 08:02] shochdoerfer commented on #272
@oneserv-heuser thx a lot for the investigation! Need to figure out a way how to fix this properly.

Any chance you could attach the generated `ProductExtensionInterface` and `ProductExtension` files from 2.4.4 and 2.4.5?

[2022-09-02 08:03] oneserv-heuser commented on #272
Here are the two classes ProductExtension and ProductExtensionInterface as generated as of Magento 2.4.4 and 2.4.5:
### Magento 2.4.4
<details>
  <summary>ProductExtensionInterface </summary>

[code]

</details>
<details>
  <summary>ProductExtension</summary>

[code]

</details>

### Magento 2.4.5
<details>
  <summary>ProductExtensionInterface </summary>

[code]

</details>
<details>
  <summary>Pr

[2022-09-02 12:02] oneserv-heuser commented on #272
Pfew, it gets even better. It seems like it's one of those problems that happens sometimes.
Just executed it again and now everything works, even 2 times. Afterwards I cleaned the cache and then it failed. Executed it again and then it worked.

Just searched around in the cache files and found the problem: The class ProductExtension gets generated and put into the cache in the following way:
<deta

[2022-09-02 12:23] shochdoerfer commented on #272
I got the `?array` syntax from #248. And since @torhoehn reported that patch would fix his issue, I thought everything is fine ;)

Comparing with your code, I feel that sometimes just the `array` typehint is used and sometimes `?array`. This needs some more investigation how to figure out which syntax needs to be used.

[2022-09-02 12:25] oneserv-heuser commented on #272
Wouldn't it be an easy fix to also add the type hint to the interface?
Then everything should be fine, no?

[2022-09-02 17:51] shochdoerfer commented on #272
Will need to do some testing. The logic for the extension attributes class and interfaces are identical. Not sure what's going on here.

[2022-09-02 18:27] #271 closed

[2022-09-06 08:23] hugofintecture commented on #271
Thanks for your reactivity 🙏

[2022-09-06 08:29] shochdoerfer commented on #271
For now, you can use the dev-master version, not sure yet when I will create the next release. Want to fix a few more things but don't know yet when to find the time.

[2022-09-06 08:34] hugofintecture commented on #271
Yes of course, thanks for your time!

[2022-09-14 13:50] norgeindian commented on #272
Thanks for opening that issue @oneserv-heuser.
I was running into the same issue again and again and could not figure out, what happens here, as I did not find the mentioned code snippet at all in the code.

[2022-09-14 14:39] shochdoerfer commented on #272
I haven't forgotten about this, need to find the time for a more intense debugging session.

[2022-09-15 06:14] norgeindian commented on #272
@shochdoerfer , awesome, thanks. Just a hint from my side as well. We're running on `2.4.2-p2`. So it's definitely not an issue with a specific Magento version. Hope, that helps you a bit during your debugging.

[2022-09-25 18:09] shochdoerfer commented on #272
@oneserv-heuser @norgeindian could you people please test #274 and report back it that works for your use-cases?

@torhoehn I might need to roll back the array extension modification, your code example looked different than reported here. Do you remember which Magento & PHP version you were using? Mind also checking if the fix in #274 works for you?

[2022-09-26 06:23] oneserv-heuser commented on #272
@shochdoerfer Unfortunately the fix doesn't work, but atleast it's another error 😀

[code]

The error with the ?array type hint is now gone and this error now seems to be kinda weird as I cant see any difference in the declaration.

**This is the file from the cache:**

<details>
  <summary>ProductExtension  from the cache</summary>

[code]
</details>

**Here are the files from generated/code:**

[2022-09-28 14:46] shochdoerfer commented on #272
@oneserv-heuser sorry man, not exactly sure what is going on. Are you at mageuc22 by any chance? Maybe we can have a chat or you could even show me your code.

[2022-09-29 04:54] oneserv-heuser commented on #272
@shochdoerfer Unfortunately not.

@norgeindian Did #274 fixes the error for you? Maybe it's something very specific in our code. Are you adding any extension attribute to Products?

[2022-09-29 12:35] oneserv-heuser commented on #272
@norgeindian @shochdoerfer
Yes, the reason is definitly the addition of extension attributes. Just removed that part from our code and everything is working fine again.
As I can only reproduce the error with Magento 2.4.5 and not 2.4.4, did they change anything in that part? Not sure about that. And also the generated classes are the same (see my [comment](https://github.com/bitExpert/phpstan-mage

[2022-10-03 07:40] shochdoerfer commented on #272
@oneserv-heuser @norgeindian I found the source of the issue. I went a bit far when adding type hints to the generated classes. The PR reverted this. To simplify your testing effort, I merged the changes already in dev-master. Could you guys please check if things are working for you again?

@torhoehn could you also check if your issue in regards of the array handling still does work with dev-mast

[2022-10-04 12:08] oneserv-heuser commented on #272
@shochdoerfer Everything works fine now, thank you!

[2022-10-04 17:12] shochdoerfer commented on #272
I've just published version 0.25.0 of the extension.

[2022-10-04 17:12] #272 closed

[2022-10-05 08:24] norgeindian commented on #272
@shochdoerfer , thanks a lot. Indeed, everything seems to work now.

[2022-10-09 07:48] shochdoerfer commented on #244
The repo already contains a Magento platform setup as well as GitHub Actions: One to install Magento and run PHPStan against Magento platform and one to run PHPStan against a stand-alone module.

Next up: Add a sample module with all the features covered by this extension.

[2022-10-09 18:26] shochdoerfer commented on #244
The integration repo is improving: The repo will run a nightly build against a demo module as part of a Magento platform project as well as a stand-alone module.

The first "testcases" have been added and the CI Pipeline got fine-tunened.

[2022-10-11 07:12] JosephLeedy commented on #249
Sounds good. Get well soon!

Sent from my iPhone

[2022-10-26 09:32] tszmyt commented on #272
Hello there,

I installed version 0.25.0, but unfortunately still getting similar issue:

`
     Child process error (exit code 255): PHP Fatal error:  Declaration of
     Magento\InventoryApi\Api\Data\SourceExtension::setIsPickupLocationActive(
     boolean $isPickupLocationActive) must be compatible with
     Magento\InventoryApi\Api\Data\SourceExtensionInterface::setIsPickupLocati
     onActive

[2022-10-26 19:35] shochdoerfer commented on #272
@tszmyt apologies for this mess. I realize that the naive approach to simply generate the files based on the XML configuration is not enough. If extension interfaces already exist, we need to inspect them to see if typehints are used in the method declarations or not.

[2022-11-01 13:22] shochdoerfer commented on #272
@tszmyt mind checking if the dev-master version works better now? I fixed a few things in #276. Looks much better now in my local sandbox environment.

[2022-11-08 14:12] shochdoerfer commented on #272
Finally ;) I'll create a new release soonish.

[2022-11-12 19:57] shochdoerfer commented on #272
@tszmyt released the fix as 0.26.0 compatible with PHPStan 1.8 & 0.27.0 compatible with PHPStan 1.9 respectively